<div class="selectContainer"> 
  <label class="item item-input-inset"> 
    <i class="icon ion-ios-location placeholder-icon"></i> 
    <input type="search" 
    ng-required="{{dataselect.required}}"
    ng-minlength="{{dataselect.ngMinLength}}"
    placeholder="{{dataselect.placeholder}}" ng-model="ngModel" ng-value="ngValue" ng-keydown="onKeyDown()">
    <label class="button button-icon icon ion-chevron-down" ng-click="open()" ></label>
  </label>
  <div class="optionList padding-left padding-right" ng-show="showHide"> 
    <ion-scroll> 
    <ul class="list"> 
      <li class="item" ng-click="selecionar(item)" ng-repeat="item in provider | dynamicFilter:[labelField,ngModel]">{{item[labelField]}}</li> 
    </ul> 
  </ion-scroll> 
</div> 
</div>